accelerate                   1.9.0
bitsandbytes                 0.46.1
datasets                     4.0.0
huggingface-hub              0.33.5
keras                        2.15.0
peft                         0.16.0
tensorflow                   2.15.0
torch                        2.6.0
transformers                 4.51.0
